In [1]:
import pandas as pd
import requests
import json
from config import gkey

In [2]:
# read public school location data csv into df

pb_loc_df = pd.read_csv('Resources/School_Locations_(Public).csv')
pb_loc_df

,CountyName,RecType,Region-2\nCounty-3\nDistrict-4,Type,School,FacilityName,Administrator,Mailing Address,Delivery Address,City,Zip,Telephone,GradeServed,State House District,StSen,FedCong,Cat,NCES ID
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adams,Dist,010010010,26.0,0000,Payson CUSD 1,Dr. Donna Veile,406 W State St,NaN,Payson,62360 1041,217656-3323,P-12,94.0,47.0,18.0,2.0,1730990
2,Adams,Sch,010010010,26.0,0001,Seymour High School,Mrs. Dawn VanCamp,420 W Brainard St,NaN,Payson,62360 1033,217656-3355,7-12,94.0,47.0,18.0,4.0,173099003226
3,Adams,Sch,010010010,26.0,2002,Seymour Elementary School,Ms. Julie Phelan,404 W State St,NaN,Payson,62360 1041,217656-3323,P-6,94.0,47.0,18.0,4.0,173099003225
4,Adams,Dist,010010020,26.0,0000,Liberty CUSD 2,Mrs. Kelle Bunch,505 N Park St,NaN,Liberty,62347 1107,217645-3433,P-12,94.0,47.0,18.0,2.0,1722770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4869,State Of Illinois,Other St Fund Dist/Sch,651089020,80.0,0000,University of Ill Lab School,Dr. Elizabeth Majerus,1212 W Springfield Ave,NaN,Urbana,61801 2909,217333-2870,7-12,103.0,52.0,13.0,8.0,1700100
4870,State Of Illinois,Other St Fund Dist/Sch,651089020,80.0,0001,University of Illinois High Sch,Dr. Elizabeth Majerus,1212 W Springfield Ave,NaN,Urbana,61801 2909,217333-2870,7-12,103.0,52.0,13.0,8.0,170010004505
4871,State Of Illinois,Other St Fund Dist/Sch,651089030,80.0,0000,Illinois Mathematics & Science Academy,Dr. Jose M Torres,1500 Sullivan Rd,NaN,Aurora,60506 1067,630907-5038,10-12,83.0,42.0,11.0,8.0,1700101
4872,State Of Illinois,Other St Fund Dist/Sch,651089030,80.0,0001,Illinois Mathematics and Science Academy,Robert Hernandez,1500 Sullivan Rd,NaN,Aurora,60506 1067,630907-5053,10-12,83.0,42.0,11.0,8.0,170010105114
4873,State Of Illinois,Other St Fund Dist/Sch,651089040,80.0,0000,IL Dept of Children and Family Services,Rachael R Kerrick,100 W Randolph St 6-229,NaN,Chicago,60601,312814-2409,"P-12,U",6.0,3.0,7.0,8.0,1701429

In [3]:
# read charter school location data csv into df

ch_loc_df = pd.read_csv('Resources/School_Locations_(Charter).csv')
ch_loc_df

,CountyName,RecType,Region-2\nCounty-3\nDistrict-4,Type,School,FacilityName,Administrator,Address,City,Zip,Telephone,GradeServed,State House District,StSen,FedCong,Cat,NCES ID
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Winnebago,District Authorized Charter Sch,41012050.0,25.0,203C,Jackson Charter School,Shavina Pierre,315 Summit St,Rockford,61107 4231,815316-0093,K-5,67.0,34.0,17.0,4.0,1.734510e+11
2,Winnebago,District Authorized Charter Sch,41012050.0,25.0,201C,Legacy Acad of Excellence Charter Sch,Barbara Forte,4029 Prairie Rd,Rockford,61102 4501,815961-1100,K-12,69.0,35.0,17.0,4.0,1.734510e+11
3,Winnebago,District Authorized Charter Sch,41012050.0,25.0,202C,Galapagos Rockford Charter Sch,Michael G Lane,2605 School St,Rockford,61101 5264,815708-7946,K-8,67.0,34.0,17.0,4.0,1.734510e+11
4,Cook,State Authorized Charter,70169010.0,25.0,0000,Southland College Prep Charter High School,Dr. Blondean Davis,4601 Sauk Trl,Richton Park,60471 1470,708748-0100,9-12,38.0,19.0,2.0,2.0,1.701400e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,Macon,District Authorized Charter Sch,390550610.0,25.0,201C,Robertson Charter School,Ms. Niki Fenderson,2240 E Geddes Ave,Decatur,62526 5127,217428-7072,P-8,96.0,48.0,13.0,4.0,1.711850e+11
148,Peoria,District Authorized Charter Sch,480721500.0,25.0,027C,Quest Charter School Academy,Dr. Taunya L Jenkins,2503 N University St,Peoria,61604 2601,309402-0030,5-12,92.0,46.0,17.0,4.0,1.731230e+11
149,Peoria,Sch,480721500.0,25.0,2051,Charter Oak Primary School,Mrs. Kathy Rodriguez,5221 W Timberedge Dr,Peoria,61615 3244,309693-4433,K-4,73.0,37.0,18.0,4.0,1.731230e+11
150,Saint Clair,District Authorized Charter Sch,500821890.0,22.0,001C,SIU Charter Sch of East St Louis,Gina Washington,601 James R Thompson Blvd,East Saint Louis,62201 1129,618482-8391,9-12,114.0,57.0,12.0,4.0,1.713320e+11
151,Sangamon,District Authorized Charter Sch,510841860.0,25.0,201C,Springfield Ball Charter School,Ms. Tiffany Williams,2530 E Ash St,Springfield,62703 5600,217525-3275,K-8,96.0,48.0,13.0,4.0,1.737080e+11

In [4]:
# concatenate CSVs
all_loc_df = pd.concat([pb_loc_df, ch_loc_df], axis=0, join="outer", sort="False")
all_loc_df

,Address,Administrator,Cat,City,CountyName,Delivery Address,FacilityName,FedCong,GradeServed,Mailing Address,NCES ID,RecType,Region-2\nCounty-3\nDistrict-4,School,StSen,State House District,Telephone,Type,Zip
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Dr. Donna Veile,2.0,Payson,Adams,NaN,Payson CUSD 1,18.0,P-12,406 W State St,1730990,Dist,010010010,0000,47.0,94.0,217656-3323,26.0,62360 1041
2,NaN,Mrs. Dawn VanCamp,4.0,Payson,Adams,NaN,Seymour High School,18.0,7-12,420 W Brainard St,173099003226,Sch,010010010,0001,47.0,94.0,217656-3355,26.0,62360 1033
3,NaN,Ms. Julie Phelan,4.0,Payson,Adams,NaN,Seymour Elementary School,18.0,P-6,404 W State St,173099003225,Sch,010010010,2002,47.0,94.0,217656-3323,26.0,62360 1041
4,NaN,Mrs. Kelle Bunch,2.0,Liberty,Adams,NaN,Liberty CUSD 2,18.0,P-12,505 N Park St,1722770,Dist,010010020,0000,47.0,94.0,217645-3433,26.0,62347 1107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,2240 E Geddes Ave,Ms. Niki Fenderson,4.0,Decatur,Macon,NaN,Robertson Charter School,13.0,P-8,NaN,1.71185e+11,District Authorized Charter Sch,3.90551e+08,201C,48.0,96.0,217428-7072,25.0,62526 5127
148,2503 N University St,Dr. Taunya L Jenkins,4.0,Peoria,Peoria,NaN,Quest Charter School Academy,17.0,5-12,NaN,1.73123e+11,District Authorized Charter Sch,4.80722e+08,027C,46.0,92.0,309402-0030,25.0,61604 2601
149,5221 W Timberedge Dr,Mrs. Kathy Rodriguez,4.0,Peoria,Peoria,NaN,Charter Oak Primary School,18.0,K-4,NaN,1.73123e+11,Sch,4.80722e+08,2051,37.0,73.0,309693-4433,25.0,61615 3244
150,601 James R Thompson Blvd,Gina Washington,4.0,East Saint Louis,Saint Clair,NaN,SIU Charter Sch of East St Louis,12.0,9-12,NaN,1.71332e+11,District Authorized Charter Sch,5.00822e+08,001C,57.0,114.0,618482-8391,22.0,62201 1129
151,2530 E Ash St,Ms. Tiffany Williams,4.0,Springfield,Sangamon,NaN,Springfield Ball Charter School,13.0,K-8,NaN,1.73708e+11,District Authorized Charter Sch,5.10842e+08,201C,48.0,96.0,217525-3275,25.0,62703 5600

In [5]:
# drop irrelevent columns
locations_df = all_loc_df[['Address', 'Mailing Address', 'City', 'CountyName', 'FacilityName', 'RecType', 'Zip']]
locations_df

,Address,Mailing Address,City,CountyName,FacilityName,RecType,Zip
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,406 W State St,Payson,Adams,Payson CUSD 1,Dist,62360 1041
2,NaN,420 W Brainard St,Payson,Adams,Seymour High School,Sch,62360 1033
3,NaN,404 W State St,Payson,Adams,Seymour Elementary School,Sch,62360 1041
4,NaN,505 N Park St,Liberty,Adams,Liberty CUSD 2,Dist,62347 1107
...,...,...,...,...,...,...,...
147,2240 E Geddes Ave,NaN,Decatur,Macon,Robertson Charter School,District Authorized Charter Sch,62526 5127
148,2503 N University St,NaN,Peoria,Peoria,Quest Charter School Academy,District Authorized Charter Sch,61604 2601
149,5221 W Timberedge Dr,NaN,Peoria,Peoria,Charter Oak Primary School,Sch,61615 3244
150,601 James R Thompson Blvd,NaN,East Saint Louis,Saint Clair,SIU Charter Sch of East St Louis,District Authorized Charter Sch,62201 1129
151,2530 E Ash St,NaN,Springfield,Sangamon,Springfield Ball Charter School,District Authorized Charter Sch,62703 5600

In [6]:
# fill NaN Address values with Mailing Address values
locations_df['Address'] = locations_df['Address'].fillna(locations_df['Mailing Address'])
loc2_df = locations_df.drop('Mailing Address', axis=1)
loc2_df

C:\Users\17736\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Address,City,CountyName,FacilityName,RecType,Zip
0,NaN,NaN,NaN,NaN,NaN,NaN
1,406 W State St,Payson,Adams,Payson CUSD 1,Dist,62360 1041
2,420 W Brainard St,Payson,Adams,Seymour High School,Sch,62360 1033
3,404 W State St,Payson,Adams,Seymour Elementary School,Sch,62360 1041
4,505 N Park St,Liberty,Adams,Liberty CUSD 2,Dist,62347 1107
...,...,...,...,...,...,...
147,2240 E Geddes Ave,Decatur,Macon,Robertson Charter School,District Authorized Charter Sch,62526 5127
148,2503 N University St,Peoria,Peoria,Quest Charter School Academy,District Authorized Charter Sch,61604 2601
149,5221 W Timberedge Dr,Peoria,Peoria,Charter Oak Primary School,Sch,61615 3244
150,601 James R Thompson Blvd,East Saint Louis,Saint Clair,SIU Charter Sch of East St Louis,District Authorized Charter Sch,62201 1129
151,2530 E Ash St,Springfield,Sangamon,Springfield Ball Charter School,District Authorized Charter Sch,62703 5600

In [7]:
# drop any missing zip or address values
loc2_df.dropna(subset=['Zip', 'Address'], axis=0, inplace=True)
loc2_df

,Address,City,CountyName,FacilityName,RecType,Zip
1,406 W State St,Payson,Adams,Payson CUSD 1,Dist,62360 1041
2,420 W Brainard St,Payson,Adams,Seymour High School,Sch,62360 1033
3,404 W State St,Payson,Adams,Seymour Elementary School,Sch,62360 1041
4,505 N Park St,Liberty,Adams,Liberty CUSD 2,Dist,62347 1107
5,505 N Park St,Liberty,Adams,Liberty High School,Sch,62347 1107
...,...,...,...,...,...,...
147,2240 E Geddes Ave,Decatur,Macon,Robertson Charter School,District Authorized Charter Sch,62526 5127
148,2503 N University St,Peoria,Peoria,Quest Charter School Academy,District Authorized Charter Sch,61604 2601
149,5221 W Timberedge Dr,Peoria,Peoria,Charter Oak Primary School,Sch,61615 3244
150,601 James R Thompson Blvd,East Saint Louis,Saint Clair,SIU Charter Sch of East St Louis,District Authorized Charter Sch,62201 1129
151,2530 E Ash St,Springfield,Sangamon,Springfield Ball Charter School,District Authorized Charter Sch,62703 5600

In [8]:
# Split zip on space to retrieve 5 digit zip
loc2_df['Zip'] = loc2_df['Zip'].str.split(" ", expand=True)

# Rename FacilityName column
loc2_df.rename(columns={'FacilityName':'School Name'}, inplace=True)

# Drop Duplicate School Names
loc2_df.drop_duplicates(subset='School Name', inplace=True)


loc2_df

,Address,City,CountyName,School Name,RecType,Zip
1,406 W State St,Payson,Adams,Payson CUSD 1,Dist,62360
2,420 W Brainard St,Payson,Adams,Seymour High School,Sch,62360
3,404 W State St,Payson,Adams,Seymour Elementary School,Sch,62360
4,505 N Park St,Liberty,Adams,Liberty CUSD 2,Dist,62347
5,505 N Park St,Liberty,Adams,Liberty High School,Sch,62347
...,...,...,...,...,...,...
4869,1212 W Springfield Ave,Urbana,State Of Illinois,University of Ill Lab School,Other St Fund Dist/Sch,61801
4870,1212 W Springfield Ave,Urbana,State Of Illinois,University of Illinois High Sch,Other St Fund Dist/Sch,61801
4871,1500 Sullivan Rd,Aurora,State Of Illinois,Illinois Mathematics & Science Academy,Other St Fund Dist/Sch,60506
4872,1500 Sullivan Rd,Aurora,State Of Illinois,Illinois Mathematics and Science Academy,Other St Fund Dist/Sch,60506
4873,100 W Randolph St 6-229,Chicago,State Of Illinois,IL Dept of Children and Family Services,Other St Fund Dist/Sch,60601

In [10]:
# read in school performance CSVs

general_csv = 'Resources/2019-Report-Card-Public-Data-Set (General).csv'
financial_csv = 'Resources/2019-Report-Card-Public-Data-Set (Financial).csv'
sat_csv = 'Resources/2019-Report-Card-Public-Data-Set (SAT).csv'

general_df = pd.read_csv(general_csv)
financials_df = pd.read_csv(financial_csv)
sat_df = pd.read_csv(sat_csv)

general_df

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,State Performance Plan Indicator 7C2 - Met State Target?,State Performance Plan Indicator 8 - Met State Target?,State Performance Plan Indicator 9 - Met State Target?,State Performance Plan Indicator 10 - Met State Target?,State Performance Plan Indicator 11 - Met State Target?,State Performance Plan Indicator 12 - Met State Target?,State Performance Plan Indicator 13 - Met State Target?,State Performance Plan Indicator 14A - Met State Target?,State Performance Plan Indicator 14B - Met State Target?,State Performance Plan Indicator 14c - Met State Target?
0,010010010260000,District,NaN,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,NaN,NaN,...,Yes,NaN,Yes,Yes,Yes,Yes,Yes,NaN,NaN,NaN
1,010010010260001,School,Seymour High School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,010010010262002,School,Seymour Elementary School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2 3 4 5 6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,010010020260000,District,NaN,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,NaN,NaN,...,No,NaN,Yes,Yes,Yes,NaN,Yes,NaN,NaN,NaN
4,010010020260001,School,Liberty High School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4733,651089020800000,District,NaN,University of Ill Lab School,NaN,NaN,HIGH SCHOOL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4734,651089020800001,School,University of Illinois High Sch,University of Ill Lab School,Urbana,State Of Illinois,HIGH SCHOOL,NaN,HIGH SCHOOL,7 8 9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4735,651089030800000,District,NaN,Illinois Mathematics & Science Academy,NaN,NaN,HIGH SCHOOL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4736,651089030800001,School,Illinois Mathematics and Science Academy,Illinois Mathematics & Science Academy,Aurora,State Of Illinois,HIGH SCHOOL,NaN,HIGH SCHOOL,10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4737,NaN,Statewide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Pull only necessary columns

gen_col_df = general_df[['RCDTS', 'School Name', 'School Type', 'County', '# Student Enrollment',\
                         '% Student Enrollment - Low Income', 'Student Attendance Rate']]

fin_col_df = financials_df[['RCDTS', 'School Name', '$ Site-level PEr-Pupil Expenditures - Subtotal',\
                            '$ District Centralized Per-Pupil Expenditure - Subtotal', '$ Total Per-Pupil Expenditures - Subtotal']]

sat_col_df = sat_df[['RCDTS', 'School Name', 'SAT Reading Average', 'SAT Math Average']]
sat_col_df

,RCDTS,School Name,SAT Reading Average,SAT Math Average
0,010010010260000,NaN,470.9,454.1
1,010010010260001,Seymour High School,470.9,454.1
2,010010010262002,Seymour Elementary School,NaN,NaN
3,010010020260000,NaN,497.6,505.1
4,010010020260001,Liberty High School,497.6,505.1
...,...,...,...,...
4733,651089020800000,NaN,NaN,NaN
4734,651089020800001,University of Illinois High Sch,NaN,NaN
4735,651089030800000,NaN,NaN,NaN
4736,651089030800001,Illinois Mathematics and Science Academy,NaN,NaN
4737,NaN,NaN,497.5,497.0

In [12]:
# merge School Data CSVs on RCDTS #

merge1_df = gen_col_df.merge(fin_col_df, how="inner", on="RCDTS")
merge2_df = merge1_df.merge(sat_col_df, how="inner", on="RCDTS")

In [13]:
# Drop NaN school names
merge2_df.dropna(subset=['School Name'], axis=0, inplace=True)

# Drop Duplicate columns
school_data_df = merge2_df.drop(['School Name_y', 'School Name'], axis=1)

# Rename School Name_x column
school_data_df.rename(columns={'School Name_x': 'School Name'}, inplace=True)

# Pull only Cook County schools
cookco_df = school_data_df.loc[school_data_df['County'] == 'Cook']

# Drop Duplicate School Names
cookco_df.drop_duplicates(subset='School Name', inplace=True)

cookco_df

C:\Users\17736\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,RCDTS,School Name,School Type,County,# Student Enrollment,% Student Enrollment - Low Income,Student Attendance Rate,$ Site-level PEr-Pupil Expenditures - Subtotal,$ District Centralized Per-Pupil Expenditure - Subtotal,$ Total Per-Pupil Expenditures - Subtotal,SAT Reading Average,SAT Math Average
285,050160150041011,Plum Grove Jr High School,MIDDLE SCHL,Cook,814,13.4,96.2,8838.88,3224.66,12063.54,NaN,NaN
286,050160150041014,Carl Sandburg Jr High School,MIDDLE SCHL,Cook,524,45.0,95.2,10674.82,3617.67,14292.49,NaN,NaN
287,050160150041016,Winston Campus Jr High,MIDDLE SCHL,Cook,769,65.4,94.1,8817.97,3633.29,12451.26,NaN,NaN
288,050160150041018,Walter R Sundling Jr High Sch,MIDDLE SCHL,Cook,650,31.2,95.6,9983.04,3570.84,13553.88,NaN,NaN
289,050160150042001,Jane Addams Elem School,ELEMENTARY,Cook,579,66.5,94.7,8989.63,3098.94,12088.57,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2071,15016901025201C,Horizon Science Acad-Belmont Charter Sch,CHARTER SCH,Cook,548,90.1,93.8,13314.96,246.92,13561.88,NaN,NaN
2073,15016902025201C,Amandla Charter School,CHARTER SCH,Cook,272,85.7,79.1,16584.14,1478.48,18062.62,389.1,375.9
2075,15016903025201C,Bronzeville Academy Charter School,CHARTER SCH,Cook,240,100.0,86.0,12210.17,2165.66,14375.83,NaN,NaN
2077,15016904025201C,Betty Shabazz International Charter School,CHARTER SCH,Cook,317,97.5,86.1,11523.99,2176.90,13700.89,NaN,NaN
2078,15016904025202C,Barbara A Sizemore Campus,CHARTER SCH,Cook,265,96.2,93.8,13251.63,2577.61,15829.24,NaN,NaN

In [14]:
# Merge School Data with Location Data on School Name

final_df = cookco_df.merge(loc2_df, how="inner", on="School Name")
final_df

,RCDTS,School Name,School Type,County,# Student Enrollment,% Student Enrollment - Low Income,Student Attendance Rate,$ Site-level PEr-Pupil Expenditures - Subtotal,$ District Centralized Per-Pupil Expenditure - Subtotal,$ Total Per-Pupil Expenditures - Subtotal,SAT Reading Average,SAT Math Average,Address,City,CountyName,RecType,Zip
0,050160150041011,Plum Grove Jr High School,MIDDLE SCHL,Cook,814,13.4,96.2,8838.88,3224.66,12063.54,NaN,NaN,2600 Plum Grove Rd,Rolling Meadows,Cook,Sch,60008
1,050160150041014,Carl Sandburg Jr High School,MIDDLE SCHL,Cook,524,45.0,95.2,10674.82,3617.67,14292.49,NaN,NaN,2600 Martin Ln,Rolling Meadows,Cook,Sch,60008
2,050160150041016,Winston Campus Jr High,MIDDLE SCHL,Cook,769,65.4,94.1,8817.97,3633.29,12451.26,NaN,NaN,120 N Babcock Dr,Palatine,Cook,Sch,60074
3,050160150041018,Walter R Sundling Jr High Sch,MIDDLE SCHL,Cook,650,31.2,95.6,9983.04,3570.84,13553.88,NaN,NaN,1100 N Smith St,Palatine,Cook,Sch,60067
4,050160150042001,Jane Addams Elem School,ELEMENTARY,Cook,579,66.5,94.7,8989.63,3098.94,12088.57,NaN,NaN,1020 E Sayles Dr,Palatine,Cook,Sch,60074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,15016901025201C,Horizon Science Acad-Belmont Charter Sch,CHARTER SCH,Cook,548,90.1,93.8,13314.96,246.92,13561.88,NaN,NaN,2456 N Mango Ave,Chicago,Cook,State Authorized Charter,60639
1183,15016902025201C,Amandla Charter School,CHARTER SCH,Cook,272,85.7,79.1,16584.14,1478.48,18062.62,389.1,375.9,6820 S Washtenaw Ave,Chicago,Cook,State Authorized Charter,60629
1184,15016903025201C,Bronzeville Academy Charter School,CHARTER SCH,Cook,240,100.0,86.0,12210.17,2165.66,14375.83,NaN,NaN,4930 S Cottage Grove Ave,Chicago,Cook,State Authorized Charter Sch,60615
1185,15016904025201C,Betty Shabazz International Charter School,CHARTER SCH,Cook,317,97.5,86.1,11523.99,2176.90,13700.89,NaN,NaN,7823 S Ellis Ave,Chicago,Cook,State Authorized Charter Sch,60619
1186,15016904025202C,Barbara A Sizemore Campus,CHARTER SCH,Cook,265,96.2,93.8,13251.63,2577.61,15829.24,NaN,NaN,6547 S Stewart Ave,Chicago,Cook,State Authorized Charter Sch,60621

In [15]:
# Optional remove elementary/middle/charter schools

high_schools_df = final_df.loc[final_df['School Type'] == 'HIGH SCHOOL']
high_schools_df

,RCDTS,School Name,School Type,County,# Student Enrollment,% Student Enrollment - Low Income,Student Attendance Rate,$ Site-level PEr-Pupil Expenditures - Subtotal,$ District Centralized Per-Pupil Expenditure - Subtotal,$ Total Per-Pupil Expenditures - Subtotal,SAT Reading Average,SAT Math Average,Address,City,CountyName,RecType,Zip
186,050162020170001,Evanston Twp High School,HIGH SCHOOL,Cook,3514,36.5,91.5,20271.00000,1949.00,22220.00000,540.1,540.7,1600 Dodge Ave,Evanston,Cook,Sch,60201
187,050162030170001,New Trier Township H S Winnetka,HIGH SCHOOL,Cook,2963,4.2,94.9,22428.80000,3076.44,25505.24000,611.9,627.6,385 Winnetka Ave,Winnetka,Cook,Sch,60093
188,050162030170002,New Trier Township H S Northfield,HIGH SCHOOL,Cook,1015,2.6,96.2,22281.03000,3076.44,25357.47000,NaN,NaN,7 Happ Rd,Northfield,Cook,Sch,60093
189,050162070170001,Maine East High School,HIGH SCHOOL,Cook,1852,41.6,91.9,13382.03000,5994.55,19376.58000,491.2,497.3,2601 Dempster St,Park Ridge,Cook,Sch,60068
190,050162070170003,Maine South High School,HIGH SCHOOL,Cook,2391,6.4,93.8,12801.70000,5919.13,18720.83000,559.6,577.8,1111 S Dee Rd,Park Ridge,Cook,Sch,60068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,150162990250859,Solorio Academy High School,HIGH SCHOOL,Cook,1195,93.2,93.6,8541.83000,3045.59,11587.42000,483.4,502.2,5400 S St Louis Ave,Chicago,Cook,Sch,60632
705,150162990250860,South Shore Intl Col Prep HS,HIGH SCHOOL,Cook,654,82.1,90.5,9501.09000,3591.35,13092.44000,478.9,439.2,1955 E 75th St,Chicago,Cook,Sch,60649
706,150162990250861,Goode STEM Academy HS,HIGH SCHOOL,Cook,917,85.8,88.8,9370.13000,3204.26,12574.39000,429.8,436.6,7651 S Homan Ave,Chicago,Cook,Sch,60652
707,150162990250862,Chicago Excel Academy HS,HIGH SCHOOL,Cook,294,85.0,79.7,13951.78927,1300.54,15252.32927,399.5,375.4,1257 W 111th St,Chicago,Cook,Sch,60643
708,150162990250863,Walter Henri Dyett High School for the Arts,HIGH SCHOOL,Cook,477,85.3,91.9,8936.81000,2981.74,11918.55000,431.2,414.9,555 E 51st St,Chicago,Cook,Sch,60615

In [16]:
# add columns for lat/lng

high_schools_df['Lat'] = ""
high_schools_df['Lng'] = ""

high_schools_df

C:\Users\17736\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\17736\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,RCDTS,School Name,School Type,County,# Student Enrollment,% Student Enrollment - Low Income,Student Attendance Rate,$ Site-level PEr-Pupil Expenditures - Subtotal,$ District Centralized Per-Pupil Expenditure - Subtotal,$ Total Per-Pupil Expenditures - Subtotal,SAT Reading Average,SAT Math Average,Address,City,CountyName,RecType,Zip,Lat,Lng
186,050162020170001,Evanston Twp High School,HIGH SCHOOL,Cook,3514,36.5,91.5,20271.00000,1949.00,22220.00000,540.1,540.7,1600 Dodge Ave,Evanston,Cook,Sch,60201,,
187,050162030170001,New Trier Township H S Winnetka,HIGH SCHOOL,Cook,2963,4.2,94.9,22428.80000,3076.44,25505.24000,611.9,627.6,385 Winnetka Ave,Winnetka,Cook,Sch,60093,,
188,050162030170002,New Trier Township H S Northfield,HIGH SCHOOL,Cook,1015,2.6,96.2,22281.03000,3076.44,25357.47000,NaN,NaN,7 Happ Rd,Northfield,Cook,Sch,60093,,
189,050162070170001,Maine East High School,HIGH SCHOOL,Cook,1852,41.6,91.9,13382.03000,5994.55,19376.58000,491.2,497.3,2601 Dempster St,Park Ridge,Cook,Sch,60068,,
190,050162070170003,Maine South High School,HIGH SCHOOL,Cook,2391,6.4,93.8,12801.70000,5919.13,18720.83000,559.6,577.8,1111 S Dee Rd,Park Ridge,Cook,Sch,60068,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,150162990250859,Solorio Academy High School,HIGH SCHOOL,Cook,1195,93.2,93.6,8541.83000,3045.59,11587.42000,483.4,502.2,5400 S St Louis Ave,Chicago,Cook,Sch,60632,,
705,150162990250860,South Shore Intl Col Prep HS,HIGH SCHOOL,Cook,654,82.1,90.5,9501.09000,3591.35,13092.44000,478.9,439.2,1955 E 75th St,Chicago,Cook,Sch,60649,,
706,150162990250861,Goode STEM Academy HS,HIGH SCHOOL,Cook,917,85.8,88.8,9370.13000,3204.26,12574.39000,429.8,436.6,7651 S Homan Ave,Chicago,Cook,Sch,60652,,
707,150162990250862,Chicago Excel Academy HS,HIGH SCHOOL,Cook,294,85.0,79.7,13951.78927,1300.54,15252.32927,399.5,375.4,1257 W 111th St,Chicago,Cook,Sch,60643,,
708,150162990250863,Walter Henri Dyett High School for the Arts,HIGH SCHOOL,Cook,477,85.3,91.9,8936.81000,2981.74,11918.55000,431.2,414.9,555 E 51st St,Chicago,Cook,Sch,60615,,

In [19]:
params ={"key": gkey}

for index, row in high_schools_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json?"

    street = row['Address']
    city = row['City']

    # update address key value
    params['address'] = f"{street},{city},+IL"

    # make request
    schools_lat_lng = requests.get(base_url, params=params)
    
    # convert to json
    schools_lat_lng = schools_lat_lng.json()

    high_schools_df.loc[index, "Lat"] = schools_lat_lng["results"][0]["geometry"]["location"]["lat"]
    high_schools_df.loc[index, "Lng"] = schools_lat_lng["results"][0]["geometry"]["location"]["lng"]

In [18]:
# Visualize to confirm lat lng appear
high_schools_df

,RCDTS,School Name,School Type,County,# Student Enrollment,% Student Enrollment - Low Income,Student Attendance Rate,$ Site-level PEr-Pupil Expenditures - Subtotal,$ District Centralized Per-Pupil Expenditure - Subtotal,$ Total Per-Pupil Expenditures - Subtotal,SAT Reading Average,SAT Math Average,Address,City,CountyName,RecType,Zip,Lat,Lng
186,050162020170001,Evanston Twp High School,HIGH SCHOOL,Cook,3514,36.5,91.5,20271.00000,1949.00,22220.00000,540.1,540.7,1600 Dodge Ave,Evanston,Cook,Sch,60201,42.0475,-87.6998
187,050162030170001,New Trier Township H S Winnetka,HIGH SCHOOL,Cook,2963,4.2,94.9,22428.80000,3076.44,25505.24000,611.9,627.6,385 Winnetka Ave,Winnetka,Cook,Sch,60093,42.0944,-87.7193
188,050162030170002,New Trier Township H S Northfield,HIGH SCHOOL,Cook,1015,2.6,96.2,22281.03000,3076.44,25357.47000,NaN,NaN,7 Happ Rd,Northfield,Cook,Sch,60093,42.0949,-87.7668
189,050162070170001,Maine East High School,HIGH SCHOOL,Cook,1852,41.6,91.9,13382.03000,5994.55,19376.58000,491.2,497.3,2601 Dempster St,Park Ridge,Cook,Sch,60068,42.0374,-87.8576
190,050162070170003,Maine South High School,HIGH SCHOOL,Cook,2391,6.4,93.8,12801.70000,5919.13,18720.83000,559.6,577.8,1111 S Dee Rd,Park Ridge,Cook,Sch,60068,42.0014,-87.8523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,150162990250859,Solorio Academy High School,HIGH SCHOOL,Cook,1195,93.2,93.6,8541.83000,3045.59,11587.42000,483.4,502.2,5400 S St Louis Ave,Chicago,Cook,Sch,60632,41.7952,-87.7116
705,150162990250860,South Shore Intl Col Prep HS,HIGH SCHOOL,Cook,654,82.1,90.5,9501.09000,3591.35,13092.44000,478.9,439.2,1955 E 75th St,Chicago,Cook,Sch,60649,41.758,-87.5765
706,150162990250861,Goode STEM Academy HS,HIGH SCHOOL,Cook,917,85.8,88.8,9370.13000,3204.26,12574.39000,429.8,436.6,7651 S Homan Ave,Chicago,Cook,Sch,60652,41.7539,-87.7066
707,150162990250862,Chicago Excel Academy HS,HIGH SCHOOL,Cook,294,85.0,79.7,13951.78927,1300.54,15252.32927,399.5,375.4,1257 W 111th St,Chicago,Cook,Sch,60643,41.6919,-87.6543
708,150162990250863,Walter Henri Dyett High School for the Arts,HIGH SCHOOL,Cook,477,85.3,91.9,8936.81000,2981.74,11918.55000,431.2,414.9,555 E 51st St,Chicago,Cook,Sch,60615,41.8012,-87.6124

In [20]:
high_schools_df.to_csv('Resources/cleaned_schools_data.csv')